.debug header {
    height: 70px;
    background-color: aqua;
}

.debug .contacts {
    height: 400px;
    background-color: coral;
}

.jumbotron {
    background-color: #1abc9c;
}

.line {
    height: 3px;
    background-color: white;
    width: 50px;
    border-radius: 1.5px;
}

.line_black {
    height: 3px;
    background-color: black;
    width: 50px;
    border-radius: 1.5px;
}

.about {
    background-color: #1abc9c;
}

footer {
    background-color: #3a546d;
}

.social {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4rem;
}