.jumbotron {
    background-color: #1abc9c;
}

.line {
    height: 4px;
    background-color: white;
    width: 50px;
    border-radius: 2px;
}

.line_black {
    height: 4px;
    background-color: black;
    width: 50px;
    border-radius: 2px;
}

.about {
    background-color: #1abc9c;
}

.bg_blue {
    background-color: #3a546d;
}

.social {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4rem;
}

.form_placeholder::placeholder {
    color: black;
}

.contacts button {
    background-color: #1abc9c;
}